* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #adabaa;
    font-family: Helvetica, Arial, sans-serif;
}

section {
    padding: 60px;
}

/*Header styles*/
.header {
    padding: 20px 35px;
    background: rgb(56, 17, 32);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    background-size: cover;
    background-attachment: fixed;
    background-position: 80%;
    z-index: 9999;
}

.header h1 {
    font-weight: bold;
    margin: 0;
    font-size: 36px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.header a {
    text-decoration: none;
    color: azure;
}

/*Nav Styles */
.nav {
    margin: 7px 0;
}

.nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.nav ul li a {
    padding: 10px 15px;
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.nav ul li a:hover {
    color: #0995b8;
    text-shadow: none;
}

/* Header styles ends*/



/*Hero Styles*/
.hero {
    background-image: url('../imgs/bg.jpg');
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
    width: 100%;
}

.hero-cta {
    width: 45%;
    text-align: right;
    margin: 3.5%;
    color: #fff;
    font-size: 18px;
    line-height: 1.5;
}

.hero-cta h2 {
    font-style: italic;
    font-size: 55px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.hero-cta p {
    font-style: italic;
    width: 100%;
}

.hero-profile img {
    display: block;
    margin-right: auto;
    padding: 20px;
    width: 75%;
}

.hero-profile {
    padding: 7px 20px;
    width: 40%;
    margin-bottom: 15px;
}

.hero-profile img {
    border-radius: 50%;
}

/* Footer Styles */
.footer {
    background: rgb(56, 17, 32);
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    color: azure;
}

.footer h2 {
    font-size: 30px;
    margin: 0;
}

.footer div {
    line-height: 1.5;
    text-align: right;
}

/* Main content Styles */
.container {
    width: 80%;
}

.about-me article{
    display: flex;
    flex-direction: column;
}

.about-me p {
    line-height: 1.7;
    color: #dazure;
    width: 80%;
    margin: 0 auto;
    font-size: 22px;
    text-align: center;
}

.about-me div {
    display: inline-block;
    margin: 0 auto;
    padding-top: 20px;
}

.about-me img:first-child {
    padding-right: 15px;
}

.icons img{
    width: 150px;
}

.icons img:last-child {
    width: 200px;
}

/* Portfolio Styles*/
.works {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.works article {
    opacity: 0.75;
}

.works article:hover {
    transform: scale(1.06);
    opacity: 1;
}

.works article a{
    text-decoration: none;
    color: rgb(180, 123, 0);
}

.work-title{
    text-align: center;
    margin: 7px 0;
    font-size: 40px;
}

.sub-title {
    text-align: center;
    padding-bottom: 20px;
    font-size: 20px;
}

.work-img img {
    width: 100%;
}

.work-display {
    margin: 20px;
    flex: 1;
    background: #0d2239;
}

.section-title {
    font-size: 48px;
    border-bottom: 3px solid;
    color: azure;
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}

.primary-border {
    border-color: tomato;
}

/* UTILITIES */
.text-left {
    text-align: left;
  }
  
  .text-right {
    text-align: right;
  }
  
  .flex-row {
    display: flex;
  }

/* Contact */
.contact {
    background: #0d2239;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: right;
}

.contact-info > * {
    flex: 1;
    margin: 15px;
}

.contact-info div {
    color: azure;
}

.contact-info h3 {
    font-size: 32px;
}

.contact-info p, 
.contact-info address {
    margin: 20px 0;
    line-height: 1.5;
    font-size: 16px;
}

.contact-info a {
    color: tomato       ;
}

.form-input {
    border: 3px solid #0995b8;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 15px; 
    background-color: rgba(255,255,255, 0.75);
}
  
.form-input:focus {
    border: 3px solid #e74c3c;
    outline: none;
    background-color: rgba(255,255,255, 1);
}

.contact-form form input, 
.contact-form form textarea {
    display: block;
    margin: 7px 0;
    padding: 15px 15px;
    width: 50%;
}

.contact-form textarea, 
.contact-form input {
    flex-direction: column;
    resize: none;
    cursor: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.contact-form {
    text-align: left;
}

.form {
    width: 100%;
    flex-direction: row;
}

.contact-form button {
    border: none;
    float: left;
    width: 50%;
    padding: 15px 0;
    font-size: 20px;
    border: 3px solid #0995b8;
    background: rgba(255,255,255, 0.75);
    color: rgba(0, 0, 0, 0.5);
}

.contact-form button:hover {
    border-color: #e74c3c;
    background-color: rgba(255,255,255, 1);
    color: #0995b8;
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    .header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }
  
    .header h1 {
      width: 100%;
      text-align: center;
    }
  
    .header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }
  
    .header nav ul li a {
      font-size: 20px;
    }
  
    .footer h2, .footer div {
      text-align: center;
      width: 100%;
    }
  
    .hero-cta {
      width: 100%;
      text-align: center;
    }
  
    .section-title {
      width: 80%;
    }
    
    .trainer {
      flex: 0 70%;
    }
    
    .contact-info iframe{
      flex: 1 100%;
    }
    
    .hero-profile {
        width: 70%;
    }

    .hero-profile img {
        display: block;
        margin: 0 auto;
    }

  }
/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
    section {
      padding: 30px 15px;
    }

    .work-display h3, .work-display p {
        display: block;
    }

    .work-title {
        font-size: 17px;
    }

    .sub-title {
        font-size: 15px;
    }

    .hero-profile img {
        width: 100%;
    }
}
  
  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {

    .hero-cta {
        text-align: center;
    }

    .hero-cta h2 {
        font-size: 45px;
    }

    .hero-profile img {
        width: 100%;
    }
  
    .section-title {
      width: 95%;
    }
  
    .about-me p {
      width: 100%;
    }
  
    .work-display {
      flex: 0 100%;
    }

    #work .flex-row{
        flex-direction: column;
    }
  
    .contact-info {
      text-align: center;
    }
  
    .contact-info > * {
      flex: 0 100%;
    }
  
    .contact-form {
      order: 3;
    }

    .contact-form form input,
    .contact-form form textarea,
    .contact-form form button {
        width: 100%;
    }
}  
